$headerBack: #000;

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  cursor: default;
}

::-webkit-scrollbar {
  background: #000;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: orangered;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
  margin: 70px 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: orange;
}

header {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 70px;
  background-color: $headerBack;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  #logo {
    font-family: "Bebas Neue", Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
  }
  #menuBtn {
    height: 70px;
    width: 70px;
    position: relative;
    cursor: pointer;
    div {
      height: 2px;
      background-color: #fff;
      position: absolute;
      right: 0%;
      transition: all 0.4s;
      &:nth-of-type(1) {
        width: 30px;
        top: 43%;
      }
      &:nth-of-type(2) {
        width: 20px;
        top: 57%;
      }
    }

    &.active {
      div {
        width: 30px;
        top: 50%;

        &:nth-of-type(1) {
          transform: rotate(45deg);
        }
        &:nth-of-type(2) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

nav {
  position: fixed;
  left: -100%;
  top: 70px;
  width: 100%;
  z-index: 9;
  height: calc(100vh - 70px);
  background-color: $headerBack;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  transition: left 0.5s;
  &.active {
    left: 0%;
  }
  ul {
    list-style-type: none;
    li {
      margin: 30px 0px;
      a {
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 4px;
        font-size: 24px;
        padding: 0px 5px;
        position: relative;
        text-decoration: none;
      }

      a::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 4px;
        background: orangered;
        transition: width 0.2s linear;
      }

      a:hover::after {
        width: 98%;
      }

      a.active::after {
        width: 98%;
      }
    }
  }
  .social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    a {
      text-decoration: none;
      color: #fff;
      font-size: 24px;
      transition: color 0.5s;
      &:hover {
        color: orange;
      }
    }
  }
}

section#about {
  width: 100%;
  height: 170px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 24px;
    font-weight: 100;
    transition: color 0.3s;
    cursor: default;
    color: orangered;
  }
  h3 {
    color: #fff;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
    transition: color 0.3s;
    cursor: default;
    &:hover {
      color: rgb(255, 193, 79);
    }
  }
}

section#profile {
  height: auto;
  padding: 50px 30px;
  p {
    font-family: "Bebas Neue", Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
    text-shadow: orangered 1px 1px 2px;
    text-align: center;
    @media (max-width: 700px) {
      font-size: 16px;
    }
    @media (max-width: 500px) {
      font-size: 14px;
    }
  }
}

section#education {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
  background-color: #000;
  .cell {
    flex-basis: calc(20% - 5px);
    color: #aaa;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 5px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: color 0.5s;

    &:hover {
      color: #fff;
    }
    &:nth-of-type(1) {
      position: relative;
    }
    &:nth-of-type(1)::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      background: linear-gradient(
        to bottom,
        transparent,
        rgba(255, 68, 0, 0.6),
        transparent
      );
      height: calc(100% * 5);
    }
    &:nth-of-type(2) {
      position: relative;
    }
    &:nth-of-type(2)::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      background: linear-gradient(
        to bottom,
        transparent,
        rgba(255, 68, 0, 0.9),
        transparent
      );
      height: calc(100% * 5);
    }
    &:nth-of-type(3) {
      position: relative;
    }
    &:nth-of-type(3)::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      background: linear-gradient(
        to bottom,
        transparent,
        rgba(255, 68, 0, 0.9),
        transparent
      );
      height: calc(100% * 5);
    }
    &:nth-of-type(4) {
      position: relative;
    }
    &:nth-of-type(4)::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      background: linear-gradient(
        to bottom,
        transparent,
        rgba(255, 68, 0, 0.6),
        transparent
      );
      height: calc(100% * 5);
    }
    &:nth-of-type(1)::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      background: linear-gradient(
        to right,
        transparent,
        rgba(255, 68, 0, 0.6),
        transparent
      );
      width: calc(100% * 5);
    }
    &:nth-of-type(6) {
      position: relative;
    }
    &:nth-of-type(6)::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      background: linear-gradient(
        to right,
        transparent,
        rgba(255, 68, 0, 0.8),
        transparent
      );
      width: calc(100% * 5);
    }
    &:nth-of-type(11) {
      position: relative;
    }
    &:nth-of-type(11)::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      background: linear-gradient(
        to right,
        transparent,
        rgba(255, 68, 0, 0.8),
        transparent
      );
      width: calc(100% * 5);
    }
    &:nth-of-type(16) {
      position: relative;
    }
    &:nth-of-type(16)::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      background: linear-gradient(
        to right,
        transparent,
        rgba(255, 68, 0, 0.8),
        transparent
      );
      width: calc(100% * 5);
    }
    @media (max-width: 650px) {
      flex-basis: calc(33.3333% - 8px);
      font-size: 12px;
      &:nth-of-type(1)::before {
        height: calc(100% * 7);
        background: linear-gradient(
          to bottom,
          transparent,
          rgba(255, 68, 0, 0.6),
          transparent
        );
      }
      &:nth-of-type(2)::before {
        height: calc(100% * 7);
        background: linear-gradient(
          to bottom,
          transparent,
          rgba(255, 68, 0, 0.6),
          transparent
        );
      }
      &:nth-of-type(3)::before {
        display: none;
      }
      &:nth-of-type(4)::before {
        display: none;
      }
      &:nth-of-type(1)::after {
        background: linear-gradient(
          to right,
          transparent,
          rgba(255, 68, 0, 0.4),
          transparent
        );
        width: calc(100% * 3);
      }
      &:nth-of-type(4) {
        position: relative;
      }
      &:nth-of-type(4)::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 1px;
        background: linear-gradient(
          to right,
          transparent,
          rgba(255, 68, 0, 0.6),
          transparent
        );
        width: calc(100% * 3);
      }
      &:nth-of-type(7) {
        position: relative;
      }
      &:nth-of-type(7)::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 1px;
        background: linear-gradient(
          to right,
          transparent,
          rgba(255, 68, 0, 0.8),
          transparent
        );
        width: calc(100% * 3);
      }
      &:nth-of-type(10) {
        position: relative;
      }
      &:nth-of-type(10)::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 1px;
        background: linear-gradient(
          to right,
          transparent,
          rgba(255, 68, 0, 0.8),
          transparent
        );
        width: calc(100% * 3);
      }
      &:nth-of-type(13) {
        position: relative;
      }
      &:nth-of-type(13)::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 1px;
        background: linear-gradient(
          to right,
          transparent,
          rgba(255, 68, 0, 0.6),
          transparent
        );
        width: calc(100% * 3);
      }
      &:nth-of-type(16) {
        position: relative;
      }
      &:nth-of-type(16)::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 1px;
        background: linear-gradient(
          to right,
          transparent,
          rgba(255, 68, 0, 0.4),
          transparent
        );
        width: calc(100% * 3);
      }

      &:nth-of-type(6)::after {
        display: none;
      }
      &:nth-of-type(11)::after {
        display: none;
      }
    }
  }
}

section#experience {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 40px 20px;
  background-color: #fff;
  dt {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 22px;
    color: orangered;
    font-weight: bold;
    text-decoration: underline;
    text-transform: capitalize;
    padding: 3px;
    text-shadow: #000 1px 1px 2px;
    @media (max-width: 700px) {
      font-size: 18px;
    }
  }
  dd {
    display: block;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    padding-left: 22px;
    text-shadow: orangered 1px 1px 2px;
    @media (max-width: 700px) {
      font-size: 14px;
    }
  }
}
